
<br>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td>
          <%= link_to member.name, member %>
        </td>
        <td><%= member.email %></td>
        <td><%= member.role %></td>
        <td><%= member.phone %></td>
        <td><%= link_to 'Remove', @member, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path, class: 'btn btn-secondary' %>
