<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="jumbotron">
  <h1 class="display-4" style="display: inline"><%= @member.name %> </h1>
  <% if @member.image.attached? %>
    <%= image_tag @member.image, style: 'width: 150px; margin-left: 600px' %>
  <% end %>
  <hr class="my-4">
  <p class="lead"> <%= @member.email %> | <%= @member.role %> | <%= @member.phone %> </p>
  <p class="lead">
  </br>
    <%= link_to 'Edit', edit_member_path(@member), class: 'btn btn-secondary' %> |
    <%= link_to 'Back', members_path, class: 'btn btn-dark' %>  
    </br>
    <%= link_to 'Remove', @member, class: 'btn btn-danger', style: 'margin-left: 25px; margin-top: 10px', method: :destory, data: { confirm: 'Are you sure?' } %>
 
  </p>
</div>





